<!-- <p>movie-selected works!</p> -->

<div class="container">
  <!-- next line renders [object Object] -->
  <!-- <div *ngIf="movieInfo">{{movieInfo}}</div> -->

  <!-- next line with only async returns [object Object], with async and json renders the json as a string -->
  <!-- <div *ngIf="movieInfo">{{(movieInfo | async | json)}}</div> -->

  <div *ngIf="movieSelected.title; else movieNotFoundBlock">
    <div class="MovieDetailTitle">{{movieSelected.title}}</div>
    <div *ngIf="movieSelected.runtime" class="FeatureDetailMovie">{{movieSelected.runtime}} min</div>
    <div *ngIf="movieSelected.genre" class="FeatureDetailMovie">{{movieSelected.genre}}</div>

    <img *ngIf="movieSelected.imdbId; else elseBlock" class="poster" src={{imgSrcForPosterFromTMDB}} alt="movie poster" />

    <ng-template #elseBlock>
      <img class="poster" src="assets/images/default_poster.jpg" alt="movie poster"/>
    </ng-template>
  </div>

  <ng-template #movieNotFoundBlock>{{this.movieApiResponseMessage}}</ng-template>
</div>
