<!-- <p>movie-selected works!</p> -->

<!-- next line renders [object Object] -->
<!-- <div *ngIf="movieInfo">{{movieInfo}}</div> -->

<!-- next line with only async returns [object Object], with async and json renders the json as a string -->
<!-- <div *ngIf="movieInfo">{{(movieInfo | async | json)}}</div> -->

<div class="MovieDetailTitle">{{movieSelected.title}}</div>
<div *ngIf="movieSelected.runtime" class="FeatureDetailMovie">{{movieSelected.runtime}} min</div>
<div *ngIf="movieSelected.genre" class="FeatureDetailMovie">{{movieSelected.genre}}</div>

<img class="billboard-poster" src={{imgSrcForPosterFromTMDB}} alt="movie poster">


