<!-- <p>billboard works!</p> -->

<div class="container">

  <!-- mockup spinner -->
  <!-- <div style="background-color: red;" *ngIf="showSpinner">LOADIN MOVIES...</div> -->

  <!-- spinner -->
  <div *ngIf="showSpinner">
    <button class="btn btn-primary" type="button" disabled>
      <span class="spinner-border" role="status" aria-hidden="true"></span>
      Loading...
    </button>
  </div>

  <div>{{fetchResponse}}</div>

  <div *ngFor="let movieNew of moviesNew">
    <a [routerLink]="['/movieSelected', movieNew.id]">{{movieNew.title}}</a>
    <img *ngIf="movieNew.posterPath; else noPosterFoundBlock" class="billboard-poster" [src]="imgSrcForPosterFromTMDB + '/' + movieNew.posterPath" alt="movie poster" />

    <ng-template #noPosterFoundBlock>
      <img class="billboard-poster" src="assets/images/default_poster.jpg" alt="movie poster" />
    </ng-template>
  </div>

</div>
